@import './utils/vars';
@import './utils/visually-hidden';

@import './base/common';
@import './base/reset';
@import './base/card-set';
@import './base/social-list';

@import './components/buttons';
@import './components/container';
@import './components/section';
@import './components/logo';
@import './components/title';
@import './components/main-title';
@import './components/contacts';
@import './components/overlay';
@import './components/custom-checkbox';
@import './components/close-btn';
@import './components/backdrop';


@import './layouts/header';
@import './layouts/hero';
@import './layouts/skills';
@import './layouts/works';
@import './layouts/team';
@import './layouts/clients';
@import './layouts/portfolio';
@import './layouts/footer';
@import './layouts/modal';
