.main-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--set-gap);
  @include fonts (900, 44px, 1.36, 0.06em);
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}