.main-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--set-gap);
  @include fonts(900, 26px, 1.62, 0.06em);
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  
  @media screen and (max-width: 479px) {
    width: 100%;
  }
  
  @media screen and (min-width:1200px) {
    @include fonts(900, 44px, 1.36, 0.06em);
    width: 696px;
  }
}
