.img-overlay {
  position: relative;
  display: block;
  overflow: hidden;
}

.overlay__text {
  @include fonts (400, 18px, 1.56, 0.03em);
  color: var(--white-color);

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(33, 150, 243, 0.9);
  transition: transform var(--animation);
  width: 100%;
  height: 100%;
  
  @media screen and (max-width:1199px) {
    padding: 77px 24px;    
  }

  @media screen and (min-width:1200px) {
        padding: 63px 24px;    
  }
}
