.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--set-gap);
}

.card__item {
  align-items: center;
  justify-content: center;
  flex-basis: calc(100% - var(--set-gap) * var(--items) - 1 / var(--items));
  
  @media screen and(min-width:480px) and (max-width:767px) {
    --items:1;
  }
}
