:root {
    /* Fonts */
    --main-font: 'Roboto';
    --logo-font: 'Raleway';

    /* Colors */
    --accent-color: #2196f3;
    --main-txt-color: #757575;
    --white-color: #ffffff;
    --dark-txt-color: #212121;
    --section-bg-color: #f5f4fa;
    --header-logo-color: #000000;
    --btn-hover-color: #188ce8;
    --second-section-color: #2f303a;
    --icon-color: #afb1b8;

    /* Others */
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --set-gap: 30px;
}