.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__list {
  display: flex;
  justify-content: center;
  gap: var(--set-gap);

    @media screen and (min-width:1200px) {
    flex-wrap: nowrap;   
  }
}

.clients__item {
  --items: 2;
  width: 210px;
  height: 92px;
  flex-basis: calc(100% - var(--set-gap) * var(--items) - 1 / var(--items));

  @media screen and (min-width: 768px) {
    --items: 3;
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--icon-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color var(--animation), border-color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.clients__icon {
  fill: currentColor;
}
