.footer {
  background-color: var(--second-section-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__section {
  display: flex;
  align-items: baseline;
}

.footer__address {
  margin-right: 70px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.logo--footer {
  color: var(--white-color);
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__place {
  color: var(--white-color);
  transition: color var(--animation);
}

.footer__contact {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--animation);
}

.footer__place:hover,
.footer__place:focus,
.footer__contact:hover,
.footer__contact:focus {
  color: var(--accent-color);
}

.footer__social {
  margin-right: 93px;
}

.footer__appeal {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer__field {
  display: flex;
  align-items: center;
  justify-items: start;
}

.footer__email {
  position: relative;
  height: 50px;
}

.footer__input {
  height: 100%;
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;

  font-weight: 400;
    font-size: 16px;
    line-height: 1.25;   
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    background-color: transparent;
    outline: transparent;

    border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;

      transition: border-color var(--animation);

      &:focus {
        border-color: var(--accent-color);
      }
      
      &-icon {
        fill:currentColor;
      }
}


