.footer {
  background-color: var(--second-section-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__section {
  position: relative;
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
    align-items: baseline;
  }
}

.footer__appeal {
  display: block;
  @include fonts(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer__address {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1199px) {
    align-items: center;
    text-align: center;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.logo--footer {
  color: var(--white-color);
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__link {
  font-style: normal;
  @include fonts(400, 14px, 1.71, 0.03em);
}

.footer__place {
  color: var(--white-color);
  transition: color var(--animation);
}

.footer__contact {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--animation);
}

.footer__place:hover,
.footer__place:focus,
.footer__contact:hover,
.footer__contact:focus {
  color: var(--accent-color);
}

.footer__social {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    margin-left: 165px;
  }

  @media screen and (min-width: 1200px) {
    align-items: baseline;
    margin-left: 70px;
  }
}

.footer-socials {
  align-items: center;
}

.footer__form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 570px;
    align-items: baseline;
    margin-left: auto;
  }
}

.footer__field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: start;
  width: 100%;

  @media screen and (min-width: 1200px) {
    max-width: 570px;
    align-items: baseline;
    flex-direction: row;
  }
}

.footer__email {
  height: 50px;
  margin-bottom: 20px;
  width: 100%;

  @media screen and (min-width:1200px) {
    max-width: 358px;
    margin-right: 12px;
  }
}

.footer__input {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 450px;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;


  display: flex;
  align-items: center;

  color: rgba(255, 255, 255, 0.6);

  background-color: transparent;
  outline: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border-color var(--animation);

  &:focus {
    border-color: var(--accent-color);
  }

  &-icon {
    fill: currentColor;
  }

  .footer__input::placeholder {
    @include fonts(400, 16px, 1.25, 0.03em);
  }
}

.footer__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px 29px;
  background-color: var(--accent-color);
  color: var(--white-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  &-text {
    margin-right: 10px;
  }
}
