header {
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}


.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width:768px) {
  padding-top: 26px;
  padding-bottom: 26px;
  margin-right: 88px;
  }

    @media screen and (min-width:1200px) {
  padding-top: 26px;
  padding-bottom: 26px;
  margin-right: 93px;
  }
}

.logo--header {
  color: var(--header-logo-color);
}


.nav {
display: flex;
align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__list {
  display: none;

  @media screen and (min-width:768px) {
    display: flex;
    align-items: center;
  }
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  
  color: var(--dark-txt-color);

  transition: color var(--animation);
}

.nav__link--current {
  position: relative;
  color: var(--accent-color);
  display: flex;
  align-items: center;

  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    display: inline-block;
    background-color: var(--accent-color);
   
    border-radius: 4px;
  }
}

.header__contacts {
    display: none;

  @media screen and (min-width:768px) {
  display: flex;
  align-items: center;
  transition: color var(--animation);
  margin-left: auto;
  }
}

.header__link {
  padding-top: 32px;
  padding-bottom: 32px;
     @include fonts (500, 14px, 1.14, 0.02em);
  transition: color var(--animation);
  
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
