.hero {
  background-color: var(--second-section-color);
  max-width: 1600px;
  max-height: 400px;
  margin: 0 auto;
  text-align: center;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (max-width: 1199px) {
    padding-top: 118px;
    padding-bottom: 128px;
  }

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero_sm.jpg);

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero_sm@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero_md.jpg);
        @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero_md@2x.jpg);
  }
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero_lg.jpg);

        @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero_lg@2x.jpg);
  }
    max-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

