

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
}

.modal__title {
  font-weight: 700;
    font-size: 20px;
    margin-bottom: 12px;
}

.modal__register-form {
  display: flex;
  flex-direction: column;
}

.modal__register-field {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 448px;  
  margin-bottom: 10px;
}


.modal__last-field {
  margin-bottom: 20px;
}

.modal__register-label{
  font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--main-txt-color);
  margin-bottom: 4px;
}

.modal__register-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 42px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--header-logo-color);

    border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      outline: transparent;

      transition: border-color var(--animation);

      &:focus {
      border-color:var(--accent-color);
      }

      &:focus + .modal__register-icon {
        fill: var(--accent-color);
      }
}

.modal__register-icon {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 15px;

  transition: fill var(--animation);
}

.modal__register-text {
  height: 120px;
  padding: 12px 16px;
  resize: none;

  &::placeholder {
  font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal__btn--send {
  padding: 10px 56px;
  border: none;
  margin: 0 auto;
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal__register-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}


.modal__checkbox-input:checked  + .custom-checkbox {
background-color: var(--accent-color);
outline-color:var(--accent-color) ;
}

.modal__agree-text {
  font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-txt-color);
    user-select: none;
}

.modal__agree-link {
  font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline; 
    color: #2196F3;
}
