.portfolio {
  @include section(60px, 60px, null);

  @media screen and (min-width:1200px) {
    @include section(94px, 94px, null);
  }
}

.portfolio__btns {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 15px;
  margin-bottom: 40px;
  @media screen and (max-width: 767px) {
    justify-content: flex-start;
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--set-gap);
  width: 100%;

  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}

.portfolio__item {
  --items: 1;
  align-items: center;
  justify-content: center;

  flex-basis: calc(100% - var(--set-gap) * var(--items) - 1 / var(--items));
  max-height: 404px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    --items: 2;
    max-width: 354px;
    max-height: 440px;
  }

  @media screen and (min-width: 1200px) {
    --items: 3;
    max-width: 370px;
  }

  background: var(--white-color);
  width: 100%;
}

.portfolio__link {
  display: block;
  transition: box-shadow var(--animation);

  max-height: 100%;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .portfolio__project-description,
  &:focus .portfolio__project-description {
    border-bottom: none;
  }

  &:hover .overlay__text,
  &:focus .overla__text {
    transform: translateY(0);
  }
}

.portfolio__link--grow {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.portfolio__img {
  @media screen and (max-width: 767px) {
    max-height: 294px;
  }
}

.portfolio__project-description {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio__project-description--grow {
  flex-grow: 1;
}

.portfolio__project-name {
  @include fonts(700, 18px, 2, 0.06em);
  color: var(--dark-txt-color);
}

.portfolio__project-type {
  margin-top: 4px;
  @include fonts(null, 16px, 1.88, 0.03em);
  color: var(--main-txt-color);
}
