.skills {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.skills__list {
  display: flex;
  align-items: baseline;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.skills__item {
  --items: 1;
  max-width: 450px;

  @media screen and (min-width: 768px) {
    --items: 2;
    max-width: 354px;
  }

  @media screen and (min-width: 1200px) {
    --items: 4;
    width: 270px;
  }
}

.skills__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--section-bg-color);

  margin-bottom: var(--set-gap);

  max-width: 100%;
  height: 120px;

  @media screen and (min-width: 768px) {
    max-width: 100%;
  }

  @media screen and (min-width: 1200px) {
    max-width: 100%;
  }
}

.skills__title {
  margin-bottom: 10px;

  @include fonts(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--dark-txt-color);

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.skills__text {
  @include fonts(null, null, 1.14, 0.03em);
  color: var(--main-txt-color);

  @media screen and (min-width: 1200px) {
    @include fonts(400, 14px, 1.71, 0.03em);
  }
}
