.team {
  background-color: var(--section-bg-color);
  
  &__person-descript {
    padding-top: var(--set-gap);
    padding-bottom: var(--set-gap);
  }
  
  &__person-name {
    font-weight: 500;
    color: var(--dark-txt-color);
    margin-bottom: 10px;
  }
  
  &__person-position {
    color: var(--main-txt-color);
  }
  
  &__links {
      margin-top: 16px;
  }

  &__item {
    flex-basis: calc((100% - var(--set-gap) * 4) / 4);
  
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    overflow: hidden;
}

}

.person {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}