.team {
  background-color: #f5f4fa;
  @include section(60px, 60px, null);

  @media screen and (min-width: 768px) {
    @include section(60px, 60px, null);
  }

  @media screen and (min-width: 1200px) {
    @include section(94px, 94px, null);
  }
}

.team__list {
  gap:var(--set-gap);
  display: flex;
  align-items: center;
  justify-content: center;
}

.team__item {
  --items: 1;
  max-width: 450px;

  @media screen and (min-width: 768px) {
    --items: 2;
    max-width: 354px;
  }

    @media screen and (min-width: 1200px) {
    --items: 4;
    width: 270px;
  }

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.team__person-descript {
  padding-top: var(--set-gap);
  padding-bottom: 24px;
  
  @media screen and (min-width:1200px) {
    padding-bottom: var(--set-gap);
  }
}

.team__person-img {
  max-height: 460px;

  @media screen and (min-width:768px) {
    max-height: 374px;
    
  }
}

.team__person-name {
  font-weight: 500;
  color: var(--dark-txt-color);
  margin-bottom: 10px;
}

.team__person-position {
  color: var(--main-txt-color);
}

.team__links {
  margin-top: 16px;
}

.person {
  @include fonts(null, 16px, 1.19, 0.03em);
  text-align: center;
}
